version: "3"

networks:
  tddo:
    driver: bridge

services:
  authentication-db:
    image: postgres:latest
    container_name: authentication-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "tddo"
    networks:
      - tddo
  member-db:
    image: postgres:latest
    container_name: member-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "tddo"
    networks:
      - tddo
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
    ports:
      - "9300:9300"
      - "9200:9200"
    networks:
      - tddo
  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.2
    container_name: kibana
    environment:
      ELASTICSEARCH_URL: "http://elasticsearch:9300"
    ports:
      - "5601:5601"
    networks:
      - tddo
  logstash:
    image: docker.elastic.co/logstash/logstash:7.16.2
    container_name: logstash
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - ./docker/logstash:/etc/logstash/conf.d
    ports:
      - "5001:5001"
    depends_on:
      - elasticsearch
    networks:
      - tddo
  config-server:
    build:
      context: ./config-server
    container_name: config-server
    ports:
      - "8071:8071"
    networks:
      - tddo
    depends_on:
      - logstash
  discovery-server:
    build:
      context: ./discovery-server
    container_name: discovery-server
    environment:
      - "SPRING_PROFILES_ACTIVE=dev"
    ports:
      - "8072:8072"
    networks:
      - tddo
    depends_on:
      - logstash
      - config-server
  gateway-server:
    build:
      context: ./gateway-server
    container_name: gateway-server
    environment:
      - "SPRING_PROFILES_ACTIVE=dev"
    ports:
      - "8070:8070"
    networks:
      - tddo
    depends_on:
      - discovery-server
      - logstash
      - config-server
  authentication-service:
    build:
      context: ./authentication-service
    container_name: authentication-service
    environment:
      - "SPRING_PROFILES_ACTIVE=elk,configserver"
    ports:
      - "8073:8073"
    networks:
      - tddo
    depends_on:
      - gateway-server
  member-service:
    build:
      context: ./member-service
    container_name: member-service
    environment:
      - "SPRING_PROFILES_ACTIVE=elk,configserver"
    ports:
      - "8074:8074"
    networks:
      - tddo
    depends_on:
      - gateway-server
  redis-server:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    networks:
      - tddo
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    networks:
      - tddo
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    networks:
      - tddo
    ports:
      - "9092:9092"
    environment:
#      KAFKA_ADVERTISED_HOST_NAME: 192.168.219.104
      KAFKA_ADVERTISED_HOST_NAME: 172.30.1.64
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  front:
    build:
      context: ./front
      dockerfile: Dockerfile.dev
    container_name: front
    ports:
      - "3000:3000"
    networks:
      - tddo



